.checkout-detail{
  width: 360px;
  height: calc(100vh - 140px);
  top: 100px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 4px solid #e5d8ff;
}

/* Animated Checkout Button https://codepen.io/richiksc/pen/yLBEzXd */
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  display: flex;
  align-items: center;
  padding: 16px 20px 16px 15px;
  height: 56px;
  position: relative;
  font-family: inherit;
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 16px;
  -webkit-tap-highlight-color: transparent;
}

.cart {
  margin-right: 12px;
  transform-origin: 20% 100%;
  opacity: 1;
}

@keyframes slide-up-fade {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-16px);
    opacity: 0;
  }
}

@keyframes roll-out {
  0% {
    transform: translate(0) rotate(0);
  }
  20% {
    transform: translate(0) rotate(-70deg);
    opacity: 1;
  }
  50% {
    transform: translate(0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translate(140px) rotate(-47deg);
    opacity: 0;
  }
}

.checked-out {
  background-color: #6936F5;
  transition-delay: 1150ms;
}

.checked-out span {
  animation: slide-up-fade 150ms 1;
  animation-fill-mode: both;
}

.checked-out .cart {
  animation: roll-out 1s 1 150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes checkmark {
  from {
    stroke-dashoffset: 26px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.check {
  position: absolute;
  left: calc(50% - 12px);
}

.check path {
  stroke-dasharray: 26px;
  stroke-dashoffset: 26px;
}

.checked-out .check path {
  animation: checkmark 150ms 1 1150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

