.newOrder {
    position: relative;
    animation: newOrderAnimation 1s ease-in-out;
  }
  
  @keyframes newOrderAnimation {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    70% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }